<template>
  <div class="common-layout">
    <el-container>
      <el-header height="400px">
        <div class="block">
          <img src="../assets/title1.jpg" />
        </div>
      </el-header>
      <el-container>
        <el-steps :active="0" align-center space="400px">
          <el-step title="Step 1" description="选择国内/国际航班" />
          <el-step title="Step 2" description="填写机票与行李信息" />
          <el-step title="Step 3" description="获得推荐方案与超重费用" />
        </el-steps>
        <el-row type="flex" justify="center">
          <el-col :span="2" :offset="12">
            <el-button size="large" @click="toPD">国内航班</el-button>
          </el-col>
          <el-col :span="2" :offset="12">
           <el-button size="large" @click="toPI">国际航班</el-button>
         </el-col>
        </el-row>
      </el-container>
    </el-container>
  </div>
</template>


<script>
  export default{
    name:'p',
    methods:{
      toPD(){
        this.$router.push({path:'/PD'})
      },
      toPI(){
        this.$router.push({path:'/PI'})
      }
    }
  }
</script>