<script setup>
import InternationalP from '../components/InternationalP.vue'
import BaggageList from '../components/BaggageList.vue'
</script>

<template>
  <div class="common-layout">
    <el-container>
      <el-header height="300px">
        <div class="block">
          <img src="../assets/title1.jpg" />
        </div>
      </el-header>
      <el-header height="150px">
        <el-steps :active="1" align-center>
          <el-step title="Step 1" description="选择国内/国际航班" />
          <el-step title="Step 2" description="填写机票与行李信息" />
          <el-step title="Step 3" description="获得推荐方案与超重费用" />
        </el-steps>
      </el-header>
      <el-container>
        <el-aside width="400px">
          <BaggageList />
        </el-aside>
        <el-main width="600px">
          <InternationalP />
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<style scoped>
.block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
</style>
