<template>
  <div class="common-layout">
    <el-container>
      <el-header height="400px">
        <div class="block">
          <img src="../assets/title1.jpg" />
        </div>
      </el-header>
      <el-container>
        <el-steps :active="2" align-center space="400px">
          <el-step title="Step 1" description="选择国内/国际航班" />
          <el-step title="Step 2" description="填写机票与行李信息" />
          <el-step title="Step 3" description="获得推荐方案与超重费用" />
        </el-steps>

      </el-container>
    </el-container>
  </div>
</template>

