<script>
import Baggage from './icons/Baggage.vue'

export default{
  components:{Baggage},
  data(){
    return{
      list:[],
    };
  },
  methods:{
    add(){
      this.list.push({})
    },
  },
}
</script>

<template>
  <div id="bl">
    <div style="width: 300px; padding-left: 100px; font-weight: bolder; font-size: 20px">行李信息</div>
    <div v-for="(item,index) in list">
      <Baggage :text=index+1 />
    </div>
    <el-button @click="add">添加</el-button>
  </div>
</template>