<template>
  <el-form :model="form" label-width="120px">
    <el-form-item>
      <div style="width: 120px; padding-left: 30px; font-weight: bolder; font-size: 20px">机票信息</div>
    </el-form-item>
    <el-form-item label="机票座舱类型">
      <el-select v-model="form.value1" placeholder="请选择您的机票座舱类型" @change="valueChange1">
        <el-option label="经济舱" value="0" />
        <el-option label="悦享经济舱" value="1" />
        <el-option label="超级经济舱" value="2" />
        <el-option label="头等舱" value="3" />
        <el-option label="豪华头等舱" value="4" />
        <el-option label="公务舱" value="5" />
      </el-select>
    </el-form-item>
    <el-form-item label="机票年龄类型">
      <el-select v-model="form.value2" placeholder="请选择您的机票年龄类型" @change="valueChange2">
        <el-option label="成人票" value="0" />
        <el-option label="儿童票" value="1" />
        <el-option label="婴儿票" value="2" />
      </el-select>
    </el-form-item>
    <el-form-item label="会员类型">
      <el-select v-model="form.value3" placeholder="请选择您的会员类型" @change="valueChange3">
        <el-option label="普通会员" value="0" />
        <el-option label="星空联盟金卡" value="1" />
        <el-option label="凤凰知音银卡" value="2" />
        <el-option label="凤凰知音白金卡" value="3" />
        <el-option label="凤凰知音终身白金卡" value="4" />
      </el-select>
    </el-form-item>
    <el-form-item label="机票价格">
      <el-input-number v-model="form.num" :min="0" :max="100000" :step="50" @change="handleChange"/>
    </el-form-item>
    <el-form-item></el-form-item>
    <el-form-item>
      <el-button size="large" @click="submit">提交</el-button>
    </el-form-item>
  </el-form>
</template>

<script lang="ts" setup>
import {reactive,ref} from 'vue'

// do not use same name with ref
const form = reactive({
  value1 : ref([]),
  value2 : ref([]),
  value3 : ref([]),
  num : ref(0),
  submit:function () {
    console.log(this)
  }
})
const handleChange=(value)=>{
  console.log(value);
  return value;
}
const valueChange1=(value)=>{
  console.log(value);
  return value;
}
const valueChange2=(value)=>{
  console.log(value);
  return value;
}
const valueChange3=(value)=>{
  console.log(value);
  return value;
}
const submit=(value)=>{
  console.log(value);
}
const vm={
  data(){
    return {
      passenger: {
        SeatClass: null,
        AgeClass: null,
        PassengerClass: null,
        price: 0,
      }
    }
  },
  methods:{
    submit(){
      console.log(this.passenger);
    },
    handleChange(value){
      //console.log(value);
      this.passenger.price=value;
      console.log(this.passenger.price);
      return value;
    },
    valueChange1(value){
      console.log(value);
      this.passenger.SeatClass=value;
      return value;
    },
    valueChange2(value){
      console.log(value);
      this.passenger.AgeClass=value;
      return value;
    },
    valueChange3(value){
      console.log(value);
      this.passenger.PassengerClass=value;
      return value;
    },
  }
}

</script>
