<template>
  <el-form :model="form" label-width="120px">
    <el-form-item>
      <div style="width: 120px; padding-left: 30px; font-weight: bolder; font-size: 20px">机票信息</div>
    </el-form-item>
    <el-form-item label="机票座舱类型">
      <el-select v-model="value1" placeholder="请选择您的机票座舱类型">
        <el-option label="经济舱" value="0" />
        <el-option label="悦享经济舱" value="1" />
        <el-option label="超级经济舱" value="2" />
        <el-option label="头等舱" value="3" />
        <el-option label="豪华头等舱" value="4" />
        <el-option label="公务舱" value="5" />
      </el-select>
    </el-form-item>
    <el-form-item label="机票年龄类型">
      <el-select v-model="value2" placeholder="请选择您的机票年龄类型">
        <el-option label="成人票" value="0" />
        <el-option label="儿童票" value="1" />
        <el-option label="婴儿票" value="2" />
      </el-select>
    </el-form-item>
    <el-form-item label="航班区域">
      <el-cascader placeholder="始发地区" :options="options" clearable />
      <el-cascader placeholder="终到地区" :options="options" clearable />
    </el-form-item>
  </el-form>
</template>

<script lang="ts" setup>
import { reactive,ref } from 'vue'
const value1 = ref([])
const value2 = ref([])

// do not use same name with ref
const form = reactive({
  name: '',
  region: '',
  date1: '',
  date2: '',
  delivery: false,
  type: [],
  resource: '',
  desc: '',
})

const onSubmit = () => {
  console.log('submit!')
}

const options = [
  {
    label: '亚洲',
    children: [
      {
        value: '1',
        label: '日本',
      },
      {
        value: '2',
        label: '巴基斯坦',
      },
      {
        value: '3',
        label: '新加坡',
      },
      {
        value: '4',
        label: '哈萨克斯坦',
      },
      {
        value: '0',
        label: '其它地区',
      },
    ],
  },
  {
    value: '7',
    label: '欧洲',
  },
  {
    value: '8',
    label: '非洲',
  },
  {
    label: '美洲',
    children: [
      {
        label: '美国',
        children:[
          {
            value: '11',
            label: '美国本土',
          },
          {
            value: '12',
            label: '夏威夷',
          },
        ],
      },
      {
        value: '10',
        label: '加拿大',
      },
      {
        value: '9',
        label: '其它地区',
      },
    ],
  },
  {
    value: '5',
    label: '西南太平洋',
  },
  {
    value: '6',
    label: '中东',
  },
  {
    value: '13',
    label: '加勒比海地区',
  },
]
</script>
