<script lang="ts" setup>
import {reactive, ref} from 'vue'

// do not use same name with ref
const form = reactive({
  weight:ref(10),
  length:ref(10),
  width:ref(10),
  height:ref(10),
  isCarry:true
})
let text:{
  props:Number
}

const onSubmit = () => {
  console.log('submit!')
  console.log(form)
}
</script>

<style>
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.box-card {
  width: 300px;
}
</style>


<template>
  <el-card class="box-card" shadow="hover">
    <template #header>
      <div class="card-header">
        <span><div class="tag">行李{{text}}</div></span>
        <el-button class="button" text>撤销</el-button>
      </div>
    </template>
    <el-form :model="form" label-width="120px">
      <el-form-item label="重量">
        <el-input-number v-model="form.weight" :min="0" :max="100" :step="1" step-strictly/>
      </el-form-item>
      <el-form-item label="长度">
        <el-input-number v-model="form.length" :min="0" :max="200" :step="1" step-strictly/>
      </el-form-item>
      <el-form-item label="宽度">
        <el-input-number v-model="form.width" :min="0" :max="200" :step="1" step-strictly/>
      </el-form-item>
      <el-form-item label="高度">
        <el-input-number v-model="form.height" :min="0" :max="200" :step="1" step-strictly/>
      </el-form-item>
      <el-form-item label="随身携带">
        <el-switch v-model="form.isCarry" />
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">Create</el-button>
      </el-form-item>
    </el-form>
  </el-card>
</template>

